.font{
    font-size: 2em;
    font-family: 'Permanent marker', cursive;
  }

  .font:hover{  
     
    font-size: 2.3em;    
    transition: all .1s ease-in-out;
  }

  .name{
    text-align: center; 
    font-size: 3.3rem;
    font-family: 'Permanent marker', cursive;
    margin-bottom: 1%;
  }

  /*flag-image*/
  
* {
  box-sizing: border-box;
}



.flag {
  position: relative;
  
  margin: 0 auto;
}

.flag img {vertical-align: middle;}



.change:hover{
  color: blue;
  cursor: pointer;
}