<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">Countries-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse clearfix" id="navbarNav">
    <ul class="nav navbar-nav ml-auto float-right">
      <li>
        <a class="nav-link float-right" style="color: white;" href="/">About </a>
      </li>
      <li>
        <a class="nav-link float-right" (click)="getAllRegions()" style="cursor: pointer;color: white;">Regions</a>
      </li>
      <li>
        <a class="nav-link float-right" (click)="getAllLanguages()" style="cursor: pointer;color: white;">Languages</a>
      </li>
      <li>
        <a class="nav-link float-right" (click)="getAllCurrencies()" style="cursor: pointer;color: white;">Currencies</a>
      </li>

    </ul>
  </div>
</nav>
<div *ngIf="(region==true)&&(countR%2!=0)">
  <div class="container-fluid" style="max-height:50vh;overflow-y: scroll;">
    <h3> Select any region:<i class="fa fa-times-circle float-right clearfix" (click)="getAllRegions()"
      style="font-size: 3rem;cursor: pointer;"></i>&nbsp;&nbsp; </h3>
    <ol class="breadcrumb" style="background:white;">
      <li class="breadcrumb-item" *ngFor="let region of regions">&nbsp;<a (click)="showCountriesByRegion(region)"><span
            class="font">{{region}}</span></a>&nbsp;</li>
    </ol>
  </div>
</div>
<div *ngIf="(lang==true)&&(countL%2!=0)">
  <div class="container-fluid" style="max-height:50vh;overflow-y: scroll;">
    <h3>Select any language:<i class="fa fa-times-circle float-right clearfix" (click)="getAllLanguages()"
        style="font-size: 3rem;cursor: pointer;"></i></h3>
    <ol class="breadcrumb" style="background:white;">
      <li class="breadcrumb-item" *ngFor="let lang of languages">&nbsp;<a (click)="showCountriesByLang(lang.code)"><span
            class="font">{{lang.name}}</span></a>&nbsp;</li>
    </ol>
  </div>
</div>
<div *ngIf="(currency==true)&&(countC%2!=0)">
  <div class="container-fluid" style="max-height:50vh;overflow-y: scroll;">
    <h3>Select any currency:</h3><i class="fa fa-times-circle float-right clearfix " (click)="getAllCurrencies()"
        style="font-size: 3rem;cursor: pointer;position: absolute;"></i> 
        <ol class="breadcrumb" style="background:white;">
      <li class="breadcrumb-item" *ngFor="let currency of currencies">&nbsp;<a
          (click)="showCountriesByCurrency(currency.code)"><span class="font">{{currency.name}}</span></a>&nbsp;</li>
    </ol></div>
  
</div>





<router-outlet></router-outlet>