<div class="container-fluid box">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-5 col-lg-3 shade">
      <img src="assets/africa-icon.png" alt="Notebook" style="width:100%;cursor: pointer;"
        [routerLink]="['/countries-by-region','africa']">
      <div class="content">
        <h1 style="text-align: center">AFRICA</h1>
      </div>
    </div>
    <div class="col-12 col-sm-5 col-lg-3 shade">
      <img src="assets/americas-icon.png" alt="Notebook" style="width:100%;cursor: pointer;"
        [routerLink]="['/countries-by-region','americas']">
      <div class="content">
        <h1 style="text-align: center">AMERICAS</h1>
      </div>
    </div>
    <div class="col-12 col-sm-5 col-lg-3 shade">
      <img src="assets/asia-icon.png" alt="Notebook" style="width:100%;cursor: pointer;"
        [routerLink]="['/countries-by-region','asia']">
      <div class="content">
        <h1 style="text-align: center">ASIA</h1>
      </div>
    </div>
    <div class="col-12 col-sm-5 col-lg-3 shade">
      <img src="assets/europe-icon.png" alt="Notebook" style="width:100%;cursor: pointer;"
        [routerLink]="['/countries-by-region','europe']">
      <div class="content">
        <h1 style="text-align: center">EUROPE</h1>
      </div>
    </div>
    <div class="col-12 col-sm-5 col-lg-3 shade">
      <img src="assets/oceania-icon.png" alt="Notebook" style="width:100%;cursor: pointer;"
        [routerLink]="['/countries-by-region','oceania']">
      <div class="content">
        <h1 style="text-align: center">OCEANIA</h1>
      </div>
    </div>
  </div>
</div>



