<div class="card ">
    <div class="card-header">
        <h3 class="card-title" style="text-align: center; cursor: pointer;"  [routerLink]="['/single-country',country.alpha3Code]">{{country.name}}</h3>
    </div>

    <img src="{{country.flag}}" class="card-img-top" alt="flag-image" style="height: 12rem; cursor: pointer;"  [routerLink]="['/single-country',country.alpha3Code]">>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Capital : {{country.capital}}</li>
        <li class="list-group-item">Sub-region : {{country.subregion}}</li>
        <li class="list-group-item">TimeZones : {{country.timezones}}</li>
        <li class="list-group-item">Languages :
            <span *ngFor="let language of country.languages; let first=first; let last=last">
               <span  [routerLink]="['/countries-by-language',language.iso639_1]"> {{language.name}}{{last ? "":","}}</span>
            </span></li>
        <li class="list-group-item">Currencies :
            <span *ngFor="let currency of country.currencies; let first=first; let last=last">
                <span  [routerLink]="['/countries-by-currency',currency.code]" class="curr">{{currency.name}}{{last ? "":","}}</span>
            </span></li>
    </ul>
</div>
<br>